.dashboard{
    background-color: $backgroundColorPrimary;
    height: calc(100vh - 35px);
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: center;
}
.dashboard-instructions{
    margin: 0px 50px;
    width: 300px;
    h1{
        @include heading;
        color: $textColorSecondary;
        margin-left: 0px;
    }
    h2{
        @include sub-heading;
        color: $textColorSecondary;
        font-weight: normal;
        margin-left: 0px;
    }
    p{
        @include paragraph;
        color: $textColorSecondary;
    }
}