.here{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 35px);
    background-color: $backgroundColorPrimary;

    .here-text-wrapper{
        @include center-column;
        margin: 0px 0px 0px 300px;
        .fa-chevron-circle-right{
            font-size: 40px;
            color: $textColorAccent;
            background-color: transparent;
            border: none;
        }
    }

    .here-image-wrapper{
        @include center-column;
        align-self: flex-end;
        position: relative;
        width: 300px;
        height: 300px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .here-image{
        height: 100%;
    }
    
    h1{
        position: absolute;
        color: $textColorTertiary;
        @include heading;
        margin: 0px;
        font-weight: bold;
        text-transform: uppercase;
        top: 20px;
    }

    p{
        @include heading;
        color: $textColorSecondary;
        padding: 10px;
        align-self: center;
        margin: 0px;
        font-weight: lighter;
    }
}

