@import '../base/_all.scss';

.home{
    @include center-column;
    text-align: center;
    height:100vh;
    background-color: $backgroundColorPrimary;
    background-image: $imageCover;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center; 
    color: white;

    h1{
        @include title
    }

    h2{
        @include heading
    }

    p{
        width: $homeModalWidth;
        @include paragraph
    }

    .home-signUp{
        @include button;
        background-color: $textColorSecondary;
        color: $textColorPrimary;
    }

    .home-login{
        @include button;
        background-color: transparent;
        color: $textColorTertiary;
    }
}