// colors
$textColorPrimary:  #68b2bd;
$textColorSecondary: white;
$textColorTertiary: rgb(50, 50, 50);
$backgroundColorPrimary: #68b2bd;

// images
$imageCover: url(https://i.imgur.com/g6fSIRP.png);

// dimensions
$homeModalWidth: 400px;
